<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <connectionStrings>
    <add name="HomeOrganization_db_con_Str" connectionString="Server=3e011d8d-d351-42ed-9d2c-a3e600d44532.sqlserver.sequelizer.com;Database=db3e011d8dd35142ed9d2ca3e600d44532;User ID=cuiobkdzdyvflaho;Password=5J74734U3WfGFCo2LUspHiB5sXj3nWDHuiH2bYJk4GMprGxLRaHNRc8UgcJhRbGf;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>